@model DrustvenaPlatformaVideoIgara.Models.Wishlist

@{
    ViewData["Title"] = "Wishlist";
}

<h1>Wishlist</h1>

<div>
    @if (Model?.WishlistItems != null && Model.WishlistItems.Any())
    {
        <ul class="list-group">
            @foreach (var wishlistItem in Model.WishlistItems)
            {
                var product = wishlistItem.Product;
                <li class="list-group-item">
                    <h4>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                            <img src="@product.ImagePath" alt="@product.ProductName Cover Image" style="img-fluid" />
                        </a>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                            @product.ProductName
                        </a>
                    </h4>
                    <p>Price: @product.Price €</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No items in your wishlist.</p>
    }
</div>
