@model DrustvenaPlatformaVideoIgara.Models.ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Random Products</h1>

<div>
    @if (Model.RandomProducts.Any())
    {
        <ul class="list-group">
            @foreach (var product in Model.RandomProducts)
            {
                <li class="list-group-item">
                    <h4><a href="@Url.Action("Details", "Products", new { id = product.ProductId })">@product.ProductName</a></h4>
                    <p>Price: @product.Price €</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No random products available.</p>
    }
</div>

<h1>Top Selling Products</h1>

<div>
    @if (Model.TopSellingProducts.Any())
    {
        <ul class="list-group">
            @foreach (var product in Model.TopSellingProducts)
            {
                <li class="list-group-item">
                    <h4><a href="@Url.Action("Details", "Products", new { id = product.ProductId })">@product.ProductName</a></h4>
                    <p>Price: @product.Price €</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No top selling products available.</p>
    }
</div>
