@model IEnumerable<DrustvenaPlatformaVideoIgara.Models.Product>

<h1>Owned Games</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                        <img src="@product.ImagePath" alt="@product.ProductName" style="img-fluid" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                        @product.ProductName
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
